body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.title {
    width: max-content;
    margin: 10px auto;
}

.human-view .btn {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

.table-component .new-human-btn-wrapper .btn {
    margin-bottom: 10px;
}

.table-component .dummy-message-block {
    margin-top: 200px;
}

.table-component .dummy-message {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}
