###################
# See http://help.github.com/ignore-files/ for more about ignoring files.

.idea
.project
.classpath
target/
*.iml
src/main/webapp/
!src/main/webapp/WEB-INF/
client/build
client/node_modules
client/package-lock.json
rebel.xml
docker/*.war